<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<CENTER>
<body style="background-image: url('https://www.lefthudson.com/wp-content/uploads/2019/11/gameboy-wallpapers-beautiful-gameboy-wallpaper-79-images-ideas-of-gameboy-wallpapers.jpg');"> 
<div class="container" style="margin-top=10px">
<h1 style="text-align=center">Welcome to Game Review</h1>
<p style="text-align=center"> Please <%= link_to "Sign In", signin_path %> or <%= link_to "Sign Up", new_user_path %></p>
</div>
</CENTER>
</body>